$orange: #f88008;
$yellow: #f7cf38;
$jade: #02b9cd;
$jade-dark: #026C93;
$jade-black: #004068;
$white: #ffffff;
$black: #000000;
$grey: #333333;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=STIX+Two+Text:wght@400;500;600&display=swap');

// Anton
@font-face {
    font-family: 'Anton';
    src: url('/fonts/Anton-Regular.ttf') format('truetype');
}

// Helvetica
@font-face {
    font-family: 'Helvetica Bold';
    src: url('/fonts/helveticaneuebold.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica regular';
    src: url('/fonts/helvetica-neue-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica medium';
    src: url('/fonts/helvetica-neue-medium.ttf') format('truetype');
}

// ============== Settings responsive ===============
$breakpoints: (
  'pc': 'screen and (min-width: 769px)',
  'sp': 'screen and (min-width: 310px) and (max-width: 768px)',
  'mini-tablet': 'screen and (min-width: 768px) and (max-width: 1024px)',
  'tablet': 'screen and (min-width: 1025px) and (max-width: 1280px)',
  'mini-desktop': 'screen and (min-width: 1250px) and (max-width: 1660px)'

) !default;

@mixin res_for($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ============== Spacing ===============

.m-auto {
    margin: auto;
}

.p-0 {
    padding: 0;
}

.mb-120 {
    margin-bottom: 120px;
}

a {
    &:hover {
        text-decoration: none;
    }
}

b {
    font-family: 'Helvetica bold';
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica regular', sans-serif;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

// =============== button ===============

#button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9800;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    & > img {
        width: 26px;
    }

    &:hover {
        cursor: pointer;
        background-color: #333;
        transition: all 0.5s ease;
    }

    &:active {
        background-color: #555;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.btn-contact {
    font-family: 'Helvetica medium';
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    line-height: auto;
    font-weight: 500;
    color: $white;
    background-color: $orange;
    border-radius: 10px;
    padding: 8px 20px;

    @include res_for(sp) {  
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        line-height: auto;
        font-weight: 500;
        color: $white;
        background-color: $orange;
        border-radius: 10px;
        padding: 4px 10px;
    }

    &:hover {
        text-decoration: none;
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
        transition: all 0.5s ease;
        background: $jade-dark;
        color: $white;
    }
}

// ============================== Header ==============================

.slide-wrap {
    width: 100%;
    display: block;
    margin-bottom: 120px;
    
    .slide-wrap__img {
        width: 100%;
        height: auto;
        // overflow-y: hidden;
        object-fit: contain;
        margin-bottom: 80px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.topic-course{
    margin-bottom: 120px;

    .topic-course--vertical {
        display: flex;
        align-items: center;
    }

    .container-fluit__img {
        width: 100%;
        height: 780px;
        overflow-y: hidden;
        object-fit: contain;

        img {
            width: 100%;
            height: auto;
        }
    }

    .topic-course__content {
        .topic-course__content--title {
            font-family: 'Anton';
            font-size: 60px;
            line-height: 76px;
            font-weight: 400;
            color: $jade-dark;
            margin-bottom: 20px;
        }

        .topic-course__content--subtitle {
            font-family: 'Helvetica Bold';
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
            color: $jade-black;
            margin-bottom: 20px;
        }

        .topic-course__content--content {
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            color: $white;
            background-color: $orange;
        }
    }
}

.letter {
    width: 100%;
    // height: 930px; 
    background-image: url('../img/images/background-letter.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    padding: 40px 0px;
    margin-bottom: 120px;

    .letter__content {
        width: 100%;
        background: $white;
        font-size: 24px;
        line-height: 32px;
        color: $grey;
        padding: 80px 24px;

        .letter__content--more {
            display: flex;
            align-items: center;
    
            .letter__content--link {
                font-family: 'Helvetica bold';
                font-size: 30px;
                line-height: 36px;
                color: $black;
                margin-right: 20px;
            }
        }
    }
}

.quality-course{
    margin-bottom: 120px;

    .quality-course--vertical {
        display: flex;
        align-items: center;
    }

    .quality-course__img {
        width: 100%;
        // height: 600px;
        overflow-y: hidden;
        object-fit: contain;

        img {
            width: 100%;
            height: auto;
        }

        &.quality-course__img--left {
            height: 860px;
            object-fit: contain;

            img {
                width: 100%;
                height: auto;
            }
        }

        &.quality-course__img--right {
            width: 822px;
            height: 625px;
            object-fit: contain;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .quality-course__content {
        .quality-course__content--title {
            font-family: 'Anton';
            font-size: 60px;
            line-height: 76px;
            font-weight: 400;
            color: $orange;
            margin-bottom: 20px;
        }

        .quality-course__content--content {
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            color: $grey;
        }
    }
}
