@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=STIX+Two+Text:wght@400;500;600&display=swap");
@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/helveticaneuebold.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica regular";
  src: url("../fonts/helvetica-neue-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica medium";
  src: url("../fonts/helvetica-neue-medium.ttf") format("truetype");
}
.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0;
}

.mb-120 {
  margin-bottom: 120px;
}

a:hover {
  text-decoration: none;
}

b {
  font-family: "Helvetica bold";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica regular", sans-serif;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

#button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF9800;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button-top > img {
  width: 26px;
}
#button-top:hover {
  cursor: pointer;
  background-color: #333;
  transition: all 0.5s ease;
}
#button-top:active {
  background-color: #555;
}
#button-top.show {
  opacity: 1;
  visibility: visible;
}

.btn-contact {
  width: 160px;
  height: 70px;
  font-family: "Helvetica medium";
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 32px;
  line-height: auto;
  font-weight: 500;
  color: #ffffff;
  background-color: #f88008;
  border-radius: 10px;
  padding: 8px;
}
.btn-contact.btn-contact--jade {
  background-color: #02b9cd;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .btn-contact {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: auto;
    font-weight: 500;
    color: #ffffff;
    background-color: #f88008;
    border-radius: 10px;
    padding: 4px 10px;
  }
}
.btn-contact:hover {
  text-decoration: none;
  box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
  transition: all 0.5s ease;
  background: #026C93;
  color: #ffffff;
}

.slide-wrap {
  width: 100%;
  display: block;
  margin-bottom: 80px;
}
.slide-wrap .slide-wrap__img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 80px;
}
.slide-wrap .slide-wrap__img img {
  width: 100%;
  height: auto;
}

.topic-course {
  margin-bottom: 80px;
}
.topic-course .topic-course--vertical {
  display: flex;
  align-items: center;
}
.topic-course .container-fluit__img {
  width: 100%;
  height: 780px;
  overflow-y: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
.topic-course .container-fluit__img img {
  width: 100%;
  height: auto;
}
.topic-course .topic-course__content .topic-course__content--title {
  font-family: "Anton";
  font-size: 60px;
  line-height: 76px;
  font-weight: 400;
  color: #026C93;
  margin-bottom: 20px;
}
.topic-course .topic-course__content .topic-course__content--subtitle {
  font-family: "Helvetica Bold";
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: #004068;
  margin-bottom: 20px;
}
.topic-course .topic-course__content .topic-course__content--content {
  width: auto;
  font-size: 19px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #f88008;
  white-space: nowrap;
  margin-bottom: 8px;
}

.name-course {
  margin-bottom: 80px;
}
.name-course .name-course--vertical {
  display: flex;
  align-items: center;
}
.name-course .name-course__content .name-course__content--title {
  font-family: "Anton";
  font-size: 50px;
  line-height: 56px;
  font-weight: 400;
  color: #f88008;
  margin-bottom: 20px;
}
.name-course .name-course__content .name-course__content--content {
  width: auto;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin-bottom: 8px;
}
.name-course .name-course__content .name-course__content--content.content--large {
  font-family: "Helvetica bold";
  font-size: 30px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 100px;
}
.name-course .name-course__img-style {
  display: flex;
  align-items: center;
}
.name-course .name-course__img-style .name-course__img--first {
  width: 283px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
}
.name-course .name-course__img-style .name-course__img--first > img {
  height: 400px;
}
.name-course .name-course__img-style .name-course__img--second {
  width: 220px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.name-course .name-course__img-style .name-course__img--second > img {
  height: 350px;
}

.quality-course .quality-course__slide--wrap {
  display: flex;
  align-items: center;
  margin-top: 180px;
}
.quality-course .quality-course__img-style {
  display: flex;
  align-items: end;
}
.quality-course .quality-course__img-style .quality-course__img--first {
  width: 283px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
}
.quality-course .quality-course__img-style .quality-course__img--first > img {
  height: 400px;
}
.quality-course .quality-course__img-style .quality-course__img--second {
  width: 183px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 1;
  margin-bottom: -80px;
  margin-left: -120px;
  margin-right: 10px;
}
.quality-course .quality-course__img-style .quality-course__img--second > img {
  height: 200px;
}
.quality-course .quality-course__img-style .quality-course__img--third {
  width: 220px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.quality-course .quality-course__img-style .quality-course__img--third > img {
  height: 350px;
}
.quality-course .quality-course__content {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.quality-course .quality-course__content .quality-course__content--title {
  font-family: "Anton";
  font-size: 50px;
  line-height: 56px;
  font-weight: 400;
  color: #f88008;
  text-align: right;
  margin-bottom: 20px;
}
.quality-course .quality-course__content .quality-course__content--content {
  font-family: "Helvetica bold";
  width: auto;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  text-align: right;
  margin-bottom: 20px;
}
.quality-course .slide--left {
  display: flex;
  justify-content: flex-start;
}
.quality-course .slide--right {
  display: flex;
  justify-content: flex-end;
}
.quality-course .quality-course__slide {
  width: 290px;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
}
.quality-course .quality-course__slide > img {
  height: 410px;
}
.quality-course .quality-course__slide.quality-course__slide--large {
  width: 100%;
  height: 486px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
.quality-course .quality-course__slide.quality-course__slide--large > img {
  height: 486px;
}/*# sourceMappingURL=style.css.map */