$orange: #f88008;
$yellow: #f7cf38;
$jade: #02b9cd;
$jade-dark: #026C93;
$jade-black: #004068;
$white: #ffffff;
$black: #000000;
$grey: #333333;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=STIX+Two+Text:wght@400;500;600&display=swap');

// Anton
@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf') format('truetype');
}

// Helvetica
@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/helveticaneuebold.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica regular';
    src: url('../fonts/helvetica-neue-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica medium';
    src: url('../fonts/helvetica-neue-medium.ttf') format('truetype');
}

// ============== Settings responsive ===============
$breakpoints: (
  'pc': 'screen and (min-width: 769px)',
  'sp': 'screen and (min-width: 310px) and (max-width: 768px)',
  'mini-tablet': 'screen and (min-width: 768px) and (max-width: 1024px)',
  'tablet': 'screen and (min-width: 1025px) and (max-width: 1280px)',
  'mini-desktop': 'screen and (min-width: 1250px) and (max-width: 1660px)'

) !default;

@mixin res_for($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ============== Spacing ===============

.m-auto {
    margin: auto;
}

.p-0 {
    padding: 0;
}

.mb-120 {
    margin-bottom: 120px;
}

a {
    &:hover {
        text-decoration: none;
    }
}

b {
    font-family: 'Helvetica bold';
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica regular', sans-serif;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

// =============== button ===============

#button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9800;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    & > img {
        width: 26px;
    }

    &:hover {
        cursor: pointer;
        background-color: #333;
        transition: all 0.5s ease;
    }

    &:active {
        background-color: #555;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.btn-contact {
    width: 160px;
    height: 70px;
    font-family: 'Helvetica medium';
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    line-height: auto;
    font-weight: 500;
    color: $white;
    background-color: $orange;
    border-radius: 10px;
    padding: 8px;

    &.btn-contact--jade {
        background-color: $jade;
    }

    @include res_for(sp) {  
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        line-height: auto;
        font-weight: 500;
        color: $white;
        background-color: $orange;
        border-radius: 10px;
        padding: 4px 10px;
    }

    &:hover {
        text-decoration: none;
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
        transition: all 0.5s ease;
        background: $jade-dark;
        color: $white;
    }
}

// ============================== Header ==============================

.slide-wrap {
    width: 100%;
    display: block;
    margin-bottom: 80px;
    
    .slide-wrap__img {
        width: 100%;
        height: auto;
        // overflow-y: hidden;
        object-fit: contain;
        margin-bottom: 80px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.topic-course{
    margin-bottom: 80px;

    .topic-course--vertical {
        display: flex;
        align-items: center;
    }

    .container-fluit__img {
        width: 100%;
        height: 780px;
        overflow-y: hidden;
        object-fit: contain;

        img {
            width: 100%;
            height: auto;
        }
    }

    .topic-course__content {
        .topic-course__content--title {
            font-family: 'Anton';
            font-size: 60px;
            line-height: 76px;
            font-weight: 400;
            color: $jade-dark;
            margin-bottom: 20px;
        }

        .topic-course__content--subtitle {
            font-family: 'Helvetica Bold';
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
            color: $jade-black;
            margin-bottom: 20px;
        }

        .topic-course__content--content {
            width: auto;
            font-size: 19px;
            line-height: 22px;
            font-weight: 700;
            color: $white;
            background-color: $orange;
            white-space: nowrap;
            margin-bottom: 8px;
        }
    }
}

.name-course {
    margin-bottom: 80px;

    .name-course--vertical {
        display: flex;
        align-items: center;
    }

    .name-course__content {
        .name-course__content--title {
            font-family: 'Anton';
            font-size: 50px;
            line-height: 56px;
            font-weight: 400;
            color: $orange;
            margin-bottom: 20px;
        }

        .name-course__content--content {
            width: auto;
            font-size: 20px;
            line-height: 28px;
            color: $grey;
            margin-bottom: 8px;

            &.content--large {
                font-family: 'Helvetica bold';
                font-size: 30px;
                line-height: 38px;
                color: $grey;
                margin-bottom: 100px;
            }
        }
    }

    .name-course__img-style {
        display: flex;
        align-items: center;

        .name-course__img--first {
            width: 283px;
            height: 400px;
            object-fit: cover;
            margin-right: 16px;

            & > img {
                height: 400px;
            }
        }

        .name-course__img--second {
            width: 220px;
            height: 350px;
            object-fit: cover;

            & > img {
                height: 350px;
            }
        }
    }
}

.quality-course {
    .quality-course__slide--wrap {
        display: flex;
        align-items: center;
        margin-top: 180px;
    }

    .quality-course__img-style {
        display: flex;
        align-items: end;
        
        .quality-course__img--first {
            width: 283px;
            height: 400px;
            object-fit: cover;
            margin-right: 16px;

            & > img {
                height: 400px;
            }
        }

        .quality-course__img--second {
            width: 183px;
            height: 200px;
            object-fit: cover;
            flex-shrink: 1;
            margin-bottom: -80px;
            margin-left: -120px;
            margin-right: 10px;

            & > img {
                height: 200px;
            }
        }

        .quality-course__img--third {
            width: 220px;
            height: 350px;
            object-fit: cover;

            & > img {
                height: 350px;
            }
        }
    }

    .quality-course__content {
        display: flex;
        justify-content: end;
        flex-direction: column;

        .quality-course__content--title {
            font-family: 'Anton';
            font-size: 50px;
            line-height: 56px;
            font-weight: 400;
            color: $orange;
            text-align: right;
            margin-bottom: 20px;
        }

        .quality-course__content--content {
            font-family: 'Helvetica bold';
            width: auto;
            font-size: 20px;
            line-height: 28px;
            color: $grey;
            text-align: right;
            margin-bottom: 20px;
        }
    }

    .slide--left {
        display: flex;
        justify-content: flex-start;
    }

    .slide--right {
        display: flex;
        justify-content: flex-end;
    }

    .quality-course__slide {
        width: 290px;
        height: 410px;
        object-fit: cover;

        & > img {
            height: 410px;
        }

        &.quality-course__slide--large {
            width: 100%;
            height: 486px;
            object-fit: cover;
            margin: auto;

            & > img {
                height: 486px;
            }
        }
    }
}

