@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=STIX+Two+Text:wght@400;500;600&display=swap");
@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/helveticaneuebold.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica regular";
  src: url("../fonts/helvetica-neue-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica medium";
  src: url("../fonts/helvetica-neue-medium.ttf") format("truetype");
}
@font-face {
  font-family: "UTM Avo";
  src: url("../fonts/UTM Avo.ttf") format("truetype");
}
.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-120 {
  margin-bottom: 120px;
}

a:hover {
  text-decoration: none;
}

b {
  font-family: "Helvetica bold";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Bold", sans-serif;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

@media screen and (min-width: 310px) and (max-width: 768px) {
  section {
    overflow-x: hidden;
  }
}

#button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF9800;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button-top > img {
  width: 26px;
}
#button-top:hover {
  cursor: pointer;
  background-color: #333;
  transition: all 0.5s ease;
}
#button-top:active {
  background-color: #555;
}
#button-top.show {
  opacity: 1;
  visibility: visible;
}

.btn-contact {
  width: 160px;
  height: 70px;
  font-family: "Helvetica medium";
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 32px;
  line-height: auto;
  font-weight: 500;
  color: #ffffff;
  background-color: #f88008;
  border-radius: 10px;
  padding: 8px;
}
.btn-contact.btn-contact--jade {
  background-color: #02b9cd;
}
.btn-contact.btn-contact--black {
  background-color: #000000;
}
.btn-contact.btn-contact--red {
  background-color: #d2172a;
}
.btn-contact.btn-contact--yellow {
  background-color: #f7cf38;
}
.btn-contact.btn-contact--orange-light {
  background-color: #eda400;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .btn-contact {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    line-height: auto;
    font-weight: 500;
    color: #ffffff;
    background-color: #f88008;
    border-radius: 6px;
    padding: 4px 8px;
  }
}
.btn-contact:hover {
  text-decoration: none;
  box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
  transition: all 0.5s ease;
  background: #026C93;
  color: #ffffff;
}

.slide-wrap {
  width: 100%;
  display: block;
  margin-bottom: 80px;
}
.slide-wrap .slide-wrap__img {
  width: 100%;
  height: 1080px;
  overflow-y: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  margin-bottom: 80px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .slide-wrap .slide-wrap__img {
    height: auto;
  }
}
.slide-wrap .slide-wrap__img img {
  width: 100%;
  height: auto;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.topic-course {
  margin-bottom: 80px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .topic-course {
    margin-bottom: 40px;
  }
}
.topic-course .topic-course--vertical {
  display: flex;
  align-items: center;
}
.topic-course .container-fluit__img {
  width: 100%;
  height: 780px;
  overflow-y: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .topic-course .container-fluit__img {
    height: auto;
    margin-bottom: 20px;
  }
}
.topic-course .container-fluit__img img {
  width: 100%;
  height: auto;
}
.topic-course .topic-course__content .topic-course__content--title {
  font-family: "Anton";
  font-size: 52px;
  line-height: 68px;
  font-weight: 400;
  color: #026C93;
  margin-bottom: 20px;
}
.topic-course .topic-course__content .topic-course__content--title.title--red {
  color: #d2172a;
}
.topic-course .topic-course__content .topic-course__content--title.title--brown {
  color: #bc4c25;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .topic-course .topic-course__content .topic-course__content--title {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 10px;
  }
}
.topic-course .topic-course__content .topic-course__content--subtitle {
  font-family: "Helvetica Bold";
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  color: #004068;
  margin-bottom: 20px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .topic-course .topic-course__content .topic-course__content--subtitle {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 10px;
  }
}
.topic-course .topic-course__content .topic-course__content--content {
  width: auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #eda400;
  white-space: nowrap;
  margin-bottom: 8px;
  padding: 4px;
}
.topic-course .topic-course__content .topic-course__content--content.content-width {
  width: 72%;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .topic-course .topic-course__content .topic-course__content--content {
    font-size: 13px;
    line-height: 18px;
  }
}

.name-course {
  margin-bottom: 80px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .name-course {
    overflow-x: hidden;
  }
}
.name-course .name-course--vertical {
  display: flex;
  align-items: center;
}
.name-course .name-course__content .name-course__content--title {
  font-family: "Anton";
  font-size: 50px;
  line-height: 56px;
  font-weight: 400;
  color: #f88008;
  margin-bottom: 20px;
}
.name-course .name-course__content .name-course__content--title.title--orange-light {
  color: #eda400;
}
.name-course .name-course__content .name-course__content--content {
  font-family: "Helvetica Bold";
  width: 380px;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin-bottom: 8px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .name-course .name-course__content .name-course__content--content {
    width: 100%;
  }
}
.name-course .name-course__content .name-course__content--content.content--large {
  font-family: "Helvetica bold";
  font-size: 30px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 100px;
}
.name-course .name-course__content .name-course__content--content.content--large.content--bottom {
  margin-bottom: 10px;
  margin-top: 100px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .name-course .name-course__content .name-course__content--content.content--large {
    margin-bottom: 40px;
  }
}
.name-course .name-course__content .name-course__content--content.content--full-width {
  width: 100%;
  margin-bottom: 20px;
}
.name-course .name-course__img {
  width: 100%;
  height: 877px;
  overflow-y: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .name-course .name-course__img {
    height: auto;
    margin-top: 20px;
  }
}
.name-course .name-course__img img {
  width: 100%;
}
.name-course .name-course__img-style {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .name-course .name-course__img-style {
    margin-top: 40px;
  }
}
.name-course .name-course__img-style .name-course__img--first {
  width: 283px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .name-course .name-course__img-style .name-course__img--first {
    height: 300px;
  }
}
.name-course .name-course__img-style .name-course__img--first > img {
  height: 400px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .name-course .name-course__img-style .name-course__img--first > img {
    height: 300px;
  }
}
.name-course .name-course__img-style .name-course__img--second {
  width: 220px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .name-course .name-course__img-style .name-course__img--second {
    height: 250px;
  }
}
.name-course .name-course__img-style .name-course__img--second > img {
  height: 350px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .name-course .name-course__img-style .name-course__img--second > img {
    height: 250px;
  }
}

.quality-course {
  margin-bottom: 80px;
}
.quality-course .quality-course__slide--wrap {
  display: flex;
  align-items: center;
  margin-top: 180px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__slide--wrap {
    margin-top: 80px;
  }
}
.quality-course .quality-course__img-wrap {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 6vw;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__img-wrap {
    margin-top: 1vw;
  }
}
.quality-course .quality-course__img-wrap .quality-course__img-bottom {
  width: 400px;
}
.quality-course .quality-course__img-wrap .quality-course__img-bottom img {
  width: 100%;
}
.quality-course .quality-course__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.quality-course .quality-course__img img {
  width: 100%;
}
.quality-course .quality-course__img-style {
  display: flex;
  align-items: end;
}
.quality-course .quality-course__img-style .quality-course__img--first {
  width: 283px;
  height: 520px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__img-style .quality-course__img--first {
    height: 250px;
  }
}
.quality-course .quality-course__img-style .quality-course__img--first > img {
  height: 520px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__img-style .quality-course__img--first > img {
    height: 250px;
  }
}
.quality-course .quality-course__img-style .quality-course__img--second {
  width: 183px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 1;
  margin-bottom: -80px;
  margin-left: -50px;
  margin-right: 10px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__img-style .quality-course__img--second {
    height: 150px;
    margin-left: -100px;
  }
}
.quality-course .quality-course__img-style .quality-course__img--second > img {
  height: 200px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__img-style .quality-course__img--second > img {
    height: 150px;
  }
}
.quality-course .quality-course__img-style .quality-course__img--third {
  width: 220px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__img-style .quality-course__img--third {
    height: 250px;
  }
}
.quality-course .quality-course__img-style .quality-course__img--third > img {
  height: 350px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__img-style .quality-course__img--third > img {
    height: 250px;
  }
}
.quality-course .quality-course__content {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.quality-course .quality-course__content.content--spacing {
  margin-top: 40px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__content {
    margin-top: 150px;
  }
}
.quality-course .quality-course__content .quality-course__content--title {
  font-family: "Anton";
  font-size: 60px;
  line-height: 76px;
  font-weight: 400;
  color: #f88008;
  text-align: right;
  margin-bottom: 20px;
}
.quality-course .quality-course__content .quality-course__content--title.title--red {
  color: #d2172a;
}
.quality-course .quality-course__content .quality-course__content--content {
  font-family: "Helvetica bold";
  width: auto;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  text-align: right;
  margin-bottom: 20px;
}
.quality-course .slide--left {
  display: flex;
  justify-content: flex-end;
}
.quality-course .slide--center {
  display: flex;
  justify-content: center;
}
.quality-course .slide--right {
  display: flex;
  justify-content: flex-start;
}
.quality-course .quality-course__slide {
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__slide {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
.quality-course .quality-course__slide > img {
  height: 440px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__slide > img {
    width: 100%;
    height: auto;
  }
}
.quality-course .quality-course__slide.quality-course__slide--large {
  width: 100%;
  height: 486px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__slide.quality-course__slide--large {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
.quality-course .quality-course__slide.quality-course__slide--large > img {
  width: 100%;
  height: 486px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .quality-course .quality-course__slide.quality-course__slide--large > img {
    width: 100%;
    height: auto;
  }
}

.detail-course {
  position: relative;
  margin-bottom: 80px;
}
.detail-course .detail-course__wrap-background {
  margin-bottom: 60px;
}
.detail-course .detail-course__wrap-background .detail-course__title {
  position: relative;
  font-family: "Anton";
  font-size: 50px;
  line-height: 62px;
  color: #333333;
  z-index: 2;
  margin-top: 10px;
}
.detail-course .detail-course__wrap-background .detail-course__title.title--illus {
  color: #ffffff;
}
.detail-course .detail-course__wrap-background .detail-course__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  height: 80px;
  background-color: #f7cf38;
  padding: 20px;
  z-index: 0;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .detail-course .detail-course__wrap-background .detail-course__background {
    width: 100%;
    height: 140px;
  }
}
.detail-course .detail-course__wrap-background .detail-course__background.background--orange {
  background-color: #f88008;
  color: #ffffff;
}
.detail-course .detail-course__wrap-background .detail-course__background.background--orange-light {
  background-color: #eda400;
  color: #ffffff;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .detail-course .detail-course__wrap-background .detail-course__background {
    width: 100%;
  }
}
.detail-course .detail-course__list ul {
  padding: 0;
  list-style: none;
}
.detail-course .detail-course__list li.detail-course__list--item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.detail-course .detail-course__list li.detail-course__list--item .item__name {
  width: 70px;
  height: 70px;
  background-color: #f88008;
  font-family: "Anton";
  font-size: 42px;
  line-height: 52px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .detail-course .detail-course__list li.detail-course__list--item .item__name {
    font-size: 36px;
    line-height: 42px;
  }
}
.detail-course .detail-course__list li.detail-course__list--item .item__content {
  font-family: "UTM Avo";
  font-size: 26px;
  line-height: 32px;
  color: #333333;
  text-transform: uppercase;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .detail-course .detail-course__list li.detail-course__list--item .item__content {
    font-size: 17px;
    line-height: 22px;
  }
}
.detail-course .detail-course__list li.detail-course__list--item .item__content.content--noted {
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  text-transform: none;
}

.reason-course {
  margin-bottom: 80px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .reason-course {
    margin-bottom: 40px;
  }
}
.reason-course .reason-course--vertical {
  display: flex;
  align-items: center;
}
.reason-course .reason-course__content .content--title {
  font-family: "Anton";
  font-size: 50px;
  line-height: 56px;
  font-weight: 400;
  color: #f88008;
  margin-bottom: 8px;
}
.reason-course .reason-course__content .content--title.title-orange-light {
  color: #eda400;
}
.reason-course .reason-course__content .content--subtitle {
  font-family: "Anton";
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #f88008;
  margin-bottom: 60px;
}
.reason-course .reason-course__content .content--subtitle.subtitle-orange-light {
  color: #eda400;
}
.reason-course .reason-course__content .content__list-reason ul {
  padding: 0;
  list-style: none;
}
.reason-course .reason-course__content .content__list-reason li.content__list-reason--item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.reason-course .reason-course__content .content__list-reason li.content__list-reason--item .item__number {
  width: 80px;
  height: 80px;
  background-color: #f88008;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anton";
  font-size: 48px;
  line-height: 52px;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 20px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .reason-course .reason-course__content .content__list-reason li.content__list-reason--item .item__number {
    width: 60px;
    height: 60px;
    font-size: 38px;
    line-height: 42px;
    margin-right: 10px;
  }
}
.reason-course .reason-course__content .content__list-reason li.content__list-reason--item .item__reason {
  font-family: "UTM Avo";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  white-space: nowrap;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .reason-course .reason-course__content .content__list-reason li.content__list-reason--item .item__reason {
    font-size: 16px;
    line-height: 26px;
    white-space: break-spaces;
  }
}
.reason-course .reason-course__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .reason-course .reason-course__img {
    margin-bottom: 20px;
  }
}
.reason-course .reason-course__img img {
  width: 100%;
  height: auto;
}

.brand-course {
  position: relative;
}
.brand-course .brand-course__wrap-background {
  margin-bottom: 60px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .brand-course .brand-course__wrap-background {
    margin-bottom: 30px;
  }
}
.brand-course .brand-course__wrap-background .brand-course__title {
  position: relative;
  font-family: "Anton";
  font-size: 50px;
  line-height: 62px;
  color: #333333;
  z-index: 2;
  margin-top: 10px;
}
.brand-course .brand-course__wrap-background .brand-course__title.title--illus {
  color: #ffffff;
}
.brand-course .brand-course__wrap-background .brand-course__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 80px;
  background-color: #f7cf38;
  padding: 20px;
  z-index: 0;
}
.brand-course .brand-course__wrap-background .brand-course__background.background--orange {
  background-color: #f88008;
  color: #ffffff;
}
.brand-course .brand-course__wrap-background .brand-course__background.background--orange-light {
  background-color: #eda400;
  color: #ffffff;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .brand-course .brand-course__wrap-background .brand-course__background {
    width: 100%;
  }
}
.brand-course .brand-course__img {
  width: 100%;
  height: 465px;
  overflow-y: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .brand-course .brand-course__img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
.brand-course .brand-course__img img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .brand-course .brand-course__img img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
.brand-course .brand-course__img.img--first {
  width: 250px;
  height: 250px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .brand-course .brand-course__img.img--first {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
.brand-course .brand-course__img.img--first img {
  height: 300px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .brand-course .brand-course__img.img--first img {
    width: 100%;
    height: auto;
  }
}
.brand-course .brand-course__img.img--second {
  width: 100%;
  height: 200px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-top: 20px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .brand-course .brand-course__img.img--second {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.brand-course .brand-course__img.img--second img {
  height: 220px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .brand-course .brand-course__img.img--second img {
    width: 100%;
    height: auto;
  }
}

.timeline-course {
  position: relative;
  margin-bottom: 60px;
}
.timeline-course .timeline-course--vertical {
  display: flex;
  align-items: center;
}
.timeline-course .timeline-course__bg {
  position: absolute;
  left: 0;
  width: 45%;
  height: 689px;
  background-image: url("../img/images/bg-timeline.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .timeline-course .timeline-course__bg {
    display: none;
  }
}
.timeline-course .timeline-course__bg-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 60px;
  height: 430px;
  background-image: url("../img/images/space-bg.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.timeline-course .timeline-course__bg-left {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translate(0, -50%);
  width: 25px;
  height: 560px;
  background-color: #f88008;
  z-index: 0;
}
.timeline-course .timeline-course__bg-left.d-none-mobile {
  display: none;
}
.timeline-course .timeline-course__wrap-img .timeline-course__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 45px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .timeline-course .timeline-course__wrap-img .timeline-course__img {
    margin-bottom: 20px;
  }
}
.timeline-course .timeline-course__wrap-img .timeline-course__img img {
  width: 80%;
  height: auto;
}
.timeline-course .timeline-course__wrap-img .timeline-course__img img.img-illus {
  width: 100%;
}
.timeline-course .timeline-course__title {
  font-family: "Anton";
  font-size: 60px;
  line-height: 76px;
  font-weight: 400;
  color: #010176;
  margin-bottom: 40px;
}
.timeline-course .timeline-course__title.title--red {
  color: #d2172a;
}
.timeline-course .timeline-course__content .timeline-course__content--title {
  font-family: "Anton";
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  color: #f88008;
  margin-bottom: 30px;
}
.timeline-course .timeline-course__content .timeline-course__content--description {
  font-family: "Helvetica medium";
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
.timeline-course .timeline-course__content .description--bottom {
  margin-bottom: 60px;
}

.application-course .application-course__title {
  width: 70%;
  font-family: "Anton";
  font-size: 44px;
  line-height: 58px;
  font-weight: 400;
  color: #f88008;
  text-align: center;
  margin: auto;
  margin-bottom: 80px;
}
.application-course .application-course__title.title-illus {
  width: 80%;
  color: #333333;
}
.application-course .application-course__item {
  height: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .application-course .application-course__item {
    height: auto;
  }
}
.application-course .application-course__item .application-course__item--icon {
  margin: auto;
  margin-bottom: 20px;
}
.application-course .application-course__item .application-course__item--icon img {
  width: 100%;
}
.application-course .application-course__item .application-course__item--content {
  height: 144px;
}
.application-course .application-course__item .application-course__item--content > .content__title {
  font-family: "Helvetica medium";
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #f88008;
  text-align: center;
}
.application-course .application-course__item .application-course__item--content > .content__title.title--orange-light {
  color: #eda400;
}
.application-course .application-course__item .application-course__item--content > .content__subtitle {
  height: 80px;
  font-family: "Helvetica medium";
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.location-course {
  position: relative;
  margin-bottom: 120px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .location-course {
    overflow-x: hidden;
  }
}
.location-course .location-course__bg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 45%;
  height: 680px;
  height: 689px;
  background-color: #eda400;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.location-course .location-course__bg.bg-25-percent {
  width: 25%;
}
.location-course .location-course__bg.bg-WCL {
  width: 5%;
  background-color: #f88008;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .location-course .location-course__bg {
    width: 25%;
    height: 389px;
  }
}
.location-course .location-course__bg-WCL {
  position: absolute;
  top: 80%;
  left: 0;
  transform: translate(0, -50%);
  width: 5%;
  height: 220px;
  background-color: #f88008;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.location-course .location-course--vertical {
  display: flex;
  align-items: center;
}
.location-course .location-course__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.location-course .location-course__img > img {
  width: 80%;
  height: auto;
}
.location-course .location-course__img > img.location-course__img--WCL {
  width: 100%;
}
.location-course .location-course__img-style {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.location-course .location-course__img-style .img-style__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  flex-direction: column;
  margin-right: 16px;
}
.location-course .location-course__img-style .img-style__wrap .img-style__first {
  width: 130px;
  overflow-y: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .location-course .location-course__img-style .img-style__wrap .img-style__first {
    width: 80px;
  }
}
.location-course .location-course__img-style .img-style__wrap .img-style__first img {
  width: 100%;
  height: auto;
}
.location-course .location-course__img-style .img-style__wrap .img-style__second {
  width: 270px;
  overflow-y: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .location-course .location-course__img-style .img-style__wrap .img-style__second {
    width: 160px;
  }
}
.location-course .location-course__img-style .img-style__wrap .img-style__second img {
  width: 100%;
  height: auto;
}
.location-course .location-course__img-style .img-style__main {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.location-course .location-course__img-style .img-style__main img {
  height: 600px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .location-course .location-course__img-style .img-style__main img {
    width: 350px;
  }
}
.location-course .location-course__content-wrap .location-course__title {
  font-family: "Anton";
  font-size: 50px;
  line-height: 56px;
  font-weight: 400;
  color: #f88008;
  margin-bottom: 40px;
}
.location-course .location-course__content-wrap .location-course__content {
  font-family: "Helvetica regular";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
.location-course .location-course__content-wrap .location-course__item {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .location-course .location-course__content-wrap .location-course__item {
    margin-bottom: 20px;
  }
}
.location-course .location-course__content-wrap .location-course__item .location-course__item--icon {
  height: 40px;
  height: auto;
  margin: auto;
}
.location-course .location-course__content-wrap .location-course__item .location-course__item--icon img {
  width: 100%;
}
.location-course .location-course__content-wrap .location-course__item .location-course__item--content > .content__title {
  font-family: "Helvetica medium";
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #f88008;
  text-align: center;
}
.location-course .location-course__content-wrap .location-course__item .location-course__item--content > .content__subtitle {
  height: 80px;
  font-family: "Helvetica medium";
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}
.location-course .location-course__content-wrap .location-course__item .location-course__item--content > .content__subtitle span {
  white-space: nowrap;
}

.library-course {
  margin-bottom: 80px;
}
.library-course .library-course--vertical {
  display: flex;
  align-items: center;
}
.library-course .library-course--end {
  display: flex;
  align-items: end;
}
.library-course .library-course__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.library-course .library-course__img > img {
  width: 100%;
  height: auto;
}
.library-course .library-course__img.library-course__bottom {
  margin-bottom: 30px;
}
.library-course .library-course__img.library-course__end {
  display: flex;
  justify-content: end;
}

.am-on {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.am-on > img {
  width: 100%;
  height: auto;
}

.student-course {
  margin-bottom: 80px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .student-course {
    margin-bottom: 40px;
  }
}
.student-course .student-course--end {
  display: flex;
  align-items: flex-end;
}
.student-course .student-course--bottom {
  margin-bottom: 20px;
}
.student-course .student-course__title {
  font-family: "Anton";
  font-size: 90px;
  line-height: 102px;
  font-weight: 400;
  color: #f88008;
  white-space: nowrap;
  margin-bottom: 20px;
}
.student-course .student-course__title.title--red-light {
  color: #d56d60;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .student-course .student-course__title {
    font-size: 48px;
    line-height: 58px;
  }
}
.student-course .student-course__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .student-course .student-course__img {
    margin-bottom: 20px;
  }
}
.student-course .student-course__img img {
  width: 100%;
}

.redirect-course {
  margin-bottom: 80px;
}
.redirect-course .redirect-course__img-wrap {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 6vw;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .redirect-course .redirect-course__img-wrap {
    margin-top: 1vw;
  }
}
.redirect-course .redirect-course__img-wrap .redirect-course__img-bottom {
  width: 400px;
}
.redirect-course .redirect-course__img-wrap .redirect-course__img-bottom img {
  width: 100%;
}
.redirect-course .redirect-course__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.redirect-course .redirect-course__img img {
  width: 100%;
}
.redirect-course .redirect-course__img-style {
  display: flex;
  align-items: end;
}
.redirect-course .redirect-course__img-style .redirect-course__img--first {
  width: 283px;
  height: 520px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 80px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .redirect-course .redirect-course__img-style .redirect-course__img--first {
    width: auto;
    height: 250px;
    margin-right: 20px;
  }
}
.redirect-course .redirect-course__img-style .redirect-course__img--first > img {
  height: 520px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .redirect-course .redirect-course__img-style .redirect-course__img--first > img {
    height: 250px;
  }
}
.redirect-course .redirect-course__img-style .redirect-course__img--second {
  width: 183px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 1;
  margin-bottom: -80px;
  margin-left: -50px;
  margin-right: 10px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .redirect-course .redirect-course__img-style .redirect-course__img--second {
    height: 150px;
    margin-left: -100px;
  }
}
.redirect-course .redirect-course__img-style .redirect-course__img--second > img {
  height: 200px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .redirect-course .redirect-course__img-style .redirect-course__img--second > img {
    height: 150px;
  }
}
.redirect-course .redirect-course__img-style .redirect-course__img--third {
  width: 220px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .redirect-course .redirect-course__img-style .redirect-course__img--third {
    height: 250px;
  }
}
.redirect-course .redirect-course__img-style .redirect-course__img--third > img {
  height: 350px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .redirect-course .redirect-course__img-style .redirect-course__img--third > img {
    height: 250px;
  }
}
.redirect-course .redirect-course__content {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.redirect-course .redirect-course__content.content--spacing {
  margin-top: 40px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .redirect-course .redirect-course__content {
    margin-top: 150px;
  }
}
.redirect-course .redirect-course__content .redirect-course__content--title {
  font-family: "Anton";
  font-size: 60px;
  line-height: 76px;
  font-weight: 400;
  color: #bc4c25;
  text-align: right;
  margin-bottom: 20px;
}
.redirect-course .redirect-course__content .redirect-course__content--title.title--red {
  color: #d2172a;
}
.redirect-course .redirect-course__content .redirect-course__content--content {
  font-family: "Helvetica bold";
  width: auto;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  text-align: right;
  margin-bottom: 20px;
}

.detail-img-course {
  margin-bottom: 80px;
}
.detail-img-course .detail-img-course__img {
  width: 100%;
  height: 240px;
  overflow-y: hidden;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .detail-img-course .detail-img-course__img {
    width: 100%;
  }
}
.detail-img-course .detail-img-course__img > img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .detail-img-course .detail-img-course__img > img {
    width: 100%;
    height: auto;
  }
}

.img-lib-course {
  margin-bottom: 80px;
}
.img-lib-course .img-lib-course__img {
  width: 100%;
  height: 520px;
  overflow-y: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .img-lib-course .img-lib-course__img {
    height: auto;
  }
}
.img-lib-course .img-lib-course__img img {
  width: 100%;
  height: auto;
}

.from-students-course {
  position: relative;
  margin-bottom: 80px;
}
.from-students-course .from-students-course--end {
  display: flex;
  justify-content: end;
}
.from-students-course .from-students-course-flex-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: static;
}
.from-students-course .from-students-course--bottom-20 {
  margin-bottom: 20px;
}
.from-students-course .from-students-course__wrap-background {
  margin-bottom: 60px;
}
.from-students-course .from-students-course__wrap-background .from-students-course__title {
  position: relative;
  font-family: "Anton";
  font-size: 50px;
  line-height: 62px;
  color: #333333;
  z-index: 2;
  margin-top: 10px;
}
.from-students-course .from-students-course__wrap-background .from-students-course__title.title--illus {
  color: #ffffff;
}
.from-students-course .from-students-course__wrap-background .from-students-course__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 38%;
  height: 80px;
  background-color: #f7cf38;
  padding: 20px;
  z-index: 0;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .from-students-course .from-students-course__wrap-background .from-students-course__background {
    width: 100%;
    height: 80px;
  }
}
.from-students-course .from-students-course__wrap-background .from-students-course__background.background--orange {
  background-color: #f88008;
  color: #ffffff;
}
.from-students-course .from-students-course__wrap-background .from-students-course__background.background--orange-light {
  background-color: #eda400;
  color: #ffffff;
}
@media screen and (min-width: 310px) and (max-width: 768px) {
  .from-students-course .from-students-course__wrap-background .from-students-course__background {
    width: 100%;
  }
}
.from-students-course .from-students-course__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.from-students-course .from-students-course__img.img--bottom {
  width: 410px;
  height: auto;
  overflow-y: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.from-students-course .from-students-course__img.img--bottom > img {
  width: 100%;
  height: auto;
}
.from-students-course .from-students-course__img > img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=style.css.map */